@page
@using Data
@model WebAppWithAppInsights.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-area="Books" asp-page="Create">Create New</a>
</p>
<table class="table">

<thead>
    <tr>
        @{
#nullable disable
    <th>
        @Html.DisplayNameFor(model => model.Book![0].Title)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Book![0].Publisher)
    </th>
#nullable restore
            }
    <th></th>
    </tr>
</thead>

<tbody>
    @foreach (var item in Model.Book!)
    {
#nullable disable
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                <a asp-area="Books" asp-page="./Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-area="Books" asp-page="./Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-area="Books" asp-page="./Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
#nullable restore
    }
</tbody>

</table>
