@page
@model BooksViews.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books![0].Publisher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Books!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookId" asp-area="Books">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookId" asp-area="Books">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookId" asp-area="Books">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
